node-red/.flows_the-machine.json.backup
[{"id":"6048f8e.4a8a188","type":"tab","label":"Shelf","disabled":false,"info":"Supermarket shelf handler"},{"id":"26d79f33.17848","type":"tab","label":"UpdateShelfQuantity","disabled":false,"info":"Listen for shelf quantity change and update it on db"},{"id":"ff8dca5f.92dd4","type":"tab","label":"NotifyStaff","disabled":false,"info":"Send notification to staff"},{"id":"b84a635a.4d144","type":"subflow","name":"TestShelfFlow","info":"","in":[{"x":50,"y":30,"wires":[{"id":"a8b544fb.306bf8"}]}],"out":[]},{"id":"78e5f54c.69e074","type":"subflow","name":"UpdateShelfQuantity","info":"update shelf status","in":[{"x":50,"y":30,"wires":[{"id":"dd722615.0892e"}]}],"out":[]},{"id":"2f173c3d.2232a4","type":"mqtt-broker","z":"","name":"LocalMQTTBroker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"44c6f0f8.a2a1c8","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"11e634cf.78b31b","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"MarketGo","name":"MongoDB"},{"id":"b1b3643e.1e1e58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/MarketGo","name":"MarketGo","options":"","parallelism":"-1"},{"id":"588ba2b6.c06b2c","type":"mqtt in","z":"6048f8e.4a8a188","name":"ReceiveShelfEvent","topic":"MarketGo/shelves","qos":"2","broker":"2f173c3d.2232a4","x":130,"y":40,"wires":[["5333b9a7.c954c"]]},{"id":"37662d4a.52630a","type":"function","z":"6048f8e.4a8a188","name":"ExtractQuantityParams","func":"var shelf = msg.payload;\nmsg.payload = {\n    idx: shelf.idx,\n    quantity: flow.get('actualQuantity'),\n    minimumQuantity: shelf.minimumQuantity\n} \n    \nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[["bef6a133.e58398"]]},{"id":"deab07d5.35bc98","type":"debug","z":"6048f8e.4a8a188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":400,"wires":[]},{"id":"5333b9a7.c954c","type":"json","z":"6048f8e.4a8a188","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":390,"y":40,"wires":[["371b506b.e5971"]]},{"id":"bef6a133.e58398","type":"switch","z":"6048f8e.4a8a188","name":"CheckQuantity","property":"payload.quantity","propertyType":"msg","rules":[{"t":"lt","v":"payload.minimumQuantity","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":260,"wires":[["54da7586.1da9e4"],[]]},{"id":"371b506b.e5971","type":"function","z":"6048f8e.4a8a188","name":"SetContextAndPrepareQuery","func":"flow.set('actualQuantity', msg.payload.quantity);\nreturn {\n    payload: {\n        idx: msg.payload.idx\n    }\n};","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["de33e5a.25e8b98"]]},{"id":"5f6cd545.064cdc","type":"mqtt out","z":"b84a635a.4d144","name":"SendShelfQuantity","topic":"MarketGo/shelves","qos":"","retain":"","broker":"2f173c3d.2232a4","x":630,"y":40,"wires":[]},{"id":"a8b544fb.306bf8","type":"function","z":"b84a635a.4d144","name":"TestSendShelfQuantity","func":"msg.payload = {\n    idx: 0,\n    quantity: 3\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["5f6cd545.064cdc"]]},{"id":"b61c1b79.a67af8","type":"subflow:b84a635a.4d144","z":"6048f8e.4a8a188","name":"","x":310,"y":500,"wires":[]},{"id":"59bff2be.879d54","type":"inject","z":"6048f8e.4a8a188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["b61c1b79.a67af8"]]},{"id":"10f95e10.4675aa","type":"mqtt in","z":"26d79f33.17848","name":"ReceiveShelfEvent","topic":"MarketGo/shelves","qos":"2","broker":"2f173c3d.2232a4","x":150,"y":60,"wires":[["57fd667a.3a3e4"]]},{"id":"57fd667a.3a3e4","type":"json","z":"26d79f33.17848","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":370,"y":140,"wires":[[]]},{"id":"de33e5a.25e8b98","type":"mongodb2 in","z":"6048f8e.4a8a188","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"GetShelfData","collection":"shelves","operation":"findOne","x":680,"y":40,"wires":[["37662d4a.52630a"]]},{"id":"72961133.1e9038","type":"mongodb2 in","z":"78e5f54c.69e074","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"UpdateShelf","collection":"shelves","operation":"update","x":590,"y":80,"wires":[[]]},{"id":"dd722615.0892e","type":"function","z":"78e5f54c.69e074","name":"PrepareUpdateQuery","func":"return {\n    payload: [{\n        idx: msg.payload.idx\n    }, {\n        $set: {\n            quantity: msg.payload.quantity   \n        }\n    }]\n};","outputs":1,"noerr":0,"x":280,"y":60,"wires":[["72961133.1e9038"]]},{"id":"54da7586.1da9e4","type":"function","z":"6048f8e.4a8a188","name":"PrepareStaffActionRequest","func":"msg.payload = {\n    action: 'restock',\n    idx: msg.payload.idx\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["187edc36.15ebd4"]]},{"id":"187edc36.15ebd4","type":"mqtt out","z":"6048f8e.4a8a188","name":"SendActionToStaff","topic":"MarketGo/staff/action","qos":"","retain":"","broker":"2f173c3d.2232a4","x":930,"y":340,"wires":[]}]