node-red/.flows_the-machine.json.backup
[{"id":"6048f8e.4a8a188","type":"tab","label":"Shelf","disabled":false,"info":"Supermarket shelf handler"},{"id":"b84a635a.4d144","type":"subflow","name":"TestShelfFlow","info":"","in":[{"x":50,"y":30,"wires":[{"id":"a8b544fb.306bf8"}]}],"out":[]},{"id":"2f173c3d.2232a4","type":"mqtt-broker","z":"","name":"LocalMQTTBroker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"44c6f0f8.a2a1c8","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1c42a73a.ea21f9","type":"mongodb3","z":"","uri":"mongodb://localhost:27017","name":"Mongodb","options":"","parallelism":"-1"},{"id":"11e634cf.78b31b","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"MarketGo","name":"MongoDB"},{"id":"588ba2b6.c06b2c","type":"mqtt in","z":"6048f8e.4a8a188","name":"ReceiveShelfEvent","topic":"market/shelfs","qos":"2","broker":"2f173c3d.2232a4","x":150,"y":60,"wires":[["5333b9a7.c954c"]]},{"id":"37662d4a.52630a","type":"function","z":"6048f8e.4a8a188","name":"ExtractQuantityParams","func":"var shelf = msg.payload[0];\nmsg.payload = {\n    idx: shelf.idx,\n    quantity: flow.get('actualQuantity'),\n    minimumQuantity: shelf.minimumQuantity\n} \n    \nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["bef6a133.e58398"]]},{"id":"deab07d5.35bc98","type":"debug","z":"6048f8e.4a8a188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":300,"wires":[]},{"id":"5333b9a7.c954c","type":"json","z":"6048f8e.4a8a188","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":270,"y":120,"wires":[["371b506b.e5971"]]},{"id":"bef6a133.e58398","type":"switch","z":"6048f8e.4a8a188","name":"CheckQuantity","property":"payload.quantity","propertyType":"msg","rules":[{"t":"lt","v":"payload.minimumQuantity","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":300,"wires":[["54da7586.1da9e4"],["74ea9793.2ec338"]]},{"id":"6340f18e.85ef5","type":"mongodb in","z":"6048f8e.4a8a188","mongodb":"11e634cf.78b31b","name":"GetShelfData","collection":"shelfs","operation":"find","x":740,"y":60,"wires":[["37662d4a.52630a"]]},{"id":"371b506b.e5971","type":"function","z":"6048f8e.4a8a188","name":"SetContextAndPrepareQuery","func":"flow.set('actualQuantity', msg.payload.quantity);\nreturn {\n    payload: {\n        idx: msg.payload.idx\n    }\n};","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["6340f18e.85ef5"]]},{"id":"74ea9793.2ec338","type":"function","z":"6048f8e.4a8a188","name":"PrintGood","func":"return {payload: 'no action required'}","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["deab07d5.35bc98"]]},{"id":"54da7586.1da9e4","type":"function","z":"6048f8e.4a8a188","name":"AlertStaff","func":"msg.payload = {\n    action: 'restock',\n    idx: msg.payload.idx\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["deab07d5.35bc98","187edc36.15ebd4"]]},{"id":"187edc36.15ebd4","type":"mqtt out","z":"6048f8e.4a8a188","name":"SendActionToStaff","topic":"staff/action","qos":"","retain":"","broker":"2f173c3d.2232a4","x":950,"y":220,"wires":[]},{"id":"5f6cd545.064cdc","type":"mqtt out","z":"b84a635a.4d144","name":"SendShelfQuantity","topic":"market/shelfs","qos":"","retain":"","broker":"2f173c3d.2232a4","x":630,"y":40,"wires":[]},{"id":"a8b544fb.306bf8","type":"function","z":"b84a635a.4d144","name":"TestSendShelfQuantity","func":"msg.payload = {\n    idx: 0,\n    quantity: 3\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["5f6cd545.064cdc"]]},{"id":"b61c1b79.a67af8","type":"subflow:b84a635a.4d144","z":"6048f8e.4a8a188","name":"","x":310,"y":500,"wires":[]},{"id":"59bff2be.879d54","type":"inject","z":"6048f8e.4a8a188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["b61c1b79.a67af8"]]}]