node-red/flows_the-machine.json
[{"id":"6048f8e.4a8a188","type":"tab","label":"ShelfStatusUpdate","disabled":false,"info":"Receives shelf status update, and if it needs restock sends an action to staff"},{"id":"ff8dca5f.92dd4","type":"tab","label":"StaffPalmarsActionCompletion","disabled":false,"info":"Handles \"action complete\" notifications from staff palmars"},{"id":"cdaf015f.da6f9","type":"tab","label":"ClientHelpRequest","disabled":false,"info":"Receive client help request and send notification \nto staff"},{"id":"ccf231bf.81e27","type":"tab","label":"ClientPutsProductInCart","disabled":false,"info":"receives an event when the client puts a product in \nthe cart and sends him a notification"},{"id":"b990c6b5.7066a8","type":"tab","label":"TCPInformationServer","disabled":false,"info":"Handles information requests via tcp"},{"id":"b84a635a.4d144","type":"subflow","name":"TestShelfFlow","info":"","in":[{"x":50,"y":30,"wires":[{"id":"a8b544fb.306bf8"}]}],"out":[]},{"id":"7aa22b9c.ee2e24","type":"subflow","name":"GetClientAllergies","info":"Get client allegies with idx","in":[{"x":60,"y":40,"wires":[{"id":"ba8cd76e.17e718"}]}],"out":[{"x":840,"y":40,"wires":[{"id":"82c86b9f.b6c59","port":0}]}]},{"id":"d1064383.99592","type":"subflow","name":"GetProductInformation","info":"Get product information with idx","in":[{"x":50,"y":30,"wires":[{"id":"e0223fa6.846358"}]}],"out":[{"x":1200,"y":40,"wires":[{"id":"ba58e9de.83e388","port":0}]}]},{"id":"89d4ce43.452ce8","type":"subflow","name":"GetCartTotal","info":"Get cart summary and total","in":[{"x":60,"y":40,"wires":[{"id":"1bd1ca5d.32251e"}]}],"out":[{"x":1260,"y":60,"wires":[{"id":"389d13a5.9e12f4","port":0}]}]},{"id":"fd41aaa7.f153","type":"subflow","name":"CheckAllergies","info":"Given a list of allergies and allergenes, checks \ncompatibility and returns a list of warnings \nfor the final user","in":[{"x":50,"y":30,"wires":[{"id":"fd14dd4.21a5b2"}]}],"out":[{"x":500,"y":40,"wires":[{"id":"fd14dd4.21a5b2","port":0}]}]},{"id":"2f173c3d.2232a4","type":"mqtt-broker","z":"","name":"LocalMQTTBroker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b1b3643e.1e1e58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/MarketGo","name":"MarketGo","options":"","parallelism":"-1"},{"id":"37662d4a.52630a","type":"function","z":"6048f8e.4a8a188","name":"ExtractQuantityParams","func":"var shelf = msg.payload;\n\nmsg.payload = {\n    idx: shelf.idx,\n    quantity: flow.get('actualQuantity'),\n    minimumQuantity: shelf.minimumQuantity\n} \n    \nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["bef6a133.e58398"]]},{"id":"5333b9a7.c954c","type":"json","z":"6048f8e.4a8a188","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":230,"y":100,"wires":[["371b506b.e5971"]]},{"id":"bef6a133.e58398","type":"switch","z":"6048f8e.4a8a188","name":"CheckQuantity","property":"payload.quantity","propertyType":"msg","rules":[{"t":"lt","v":"payload.minimumQuantity","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":400,"wires":[["54da7586.1da9e4"]]},{"id":"371b506b.e5971","type":"function","z":"6048f8e.4a8a188","name":"SetContextAndPrepareQuery","func":"flow.set('actualQuantity', msg.payload.quantity);\n\nmsg.payload = {\n    idx: msg.payload.idx\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["de33e5a.25e8b98"]]},{"id":"5f6cd545.064cdc","type":"mqtt out","z":"b84a635a.4d144","name":"SendShelfQuantity","topic":"MarketGo/shelves","qos":"","retain":"","broker":"2f173c3d.2232a4","x":630,"y":40,"wires":[]},{"id":"a8b544fb.306bf8","type":"function","z":"b84a635a.4d144","name":"TestSendShelfQuantity","func":"msg.payload = {\n    idx: 0,\n    quantity: 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["5f6cd545.064cdc"]]},{"id":"de33e5a.25e8b98","type":"mongodb2 in","z":"6048f8e.4a8a188","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"GetShelfData","collection":"shelves","operation":"findOne","x":540,"y":240,"wires":[["37662d4a.52630a"]]},{"id":"54da7586.1da9e4","type":"function","z":"6048f8e.4a8a188","name":"CreateStaffAction","func":"msg.payload = {\n    action: 'restock shelf',\n    idx: msg.payload.idx\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":460,"wires":[["b0e325ef.14d0b"]]},{"id":"fcf4d94c.8f9d2","type":"mqtt in","z":"ff8dca5f.92dd4","name":"ReceiveStaffAction","topic":"MarketGo/staff/action/completed","qos":"2","broker":"2f173c3d.2232a4","x":130,"y":60,"wires":[["f8eae27.c7db9a"]]},{"id":"f8eae27.c7db9a","type":"json","z":"ff8dca5f.92dd4","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["d1117120.1b4998"]]},{"id":"d1117120.1b4998","type":"function","z":"ff8dca5f.92dd4","name":"StoreCompletedActionQuery","func":"var completedAction = msg.payload.action;\n\nflow.set('staffPalmarIdx', msg.payload.idx);\nflow.set('completedAction', completedAction);\n\nvar newActionRecord = {\n    action: completedAction,\n    timestamp: new Date().toString()    \n};\n\nmsg.payload = [\n    { idx: msg.payload.idx },\n    { $push: { \n        completedActions: \n            newActionRecord\n        }\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["58d969ef.83428"]]},{"id":"58d969ef.83428","type":"mongodb2 in","z":"ff8dca5f.92dd4","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"StoreAction","collection":"employees","operation":"update","x":690,"y":240,"wires":[["3ef8354a.a39a2a"]]},{"id":"3ef8354a.a39a2a","type":"function","z":"ff8dca5f.92dd4","name":"PrepareDeleteActionMsg","func":"msg.payload = {\n    notification: flow.get('completedAction')\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["9cf4ada.264b2d"]]},{"id":"9cf4ada.264b2d","type":"mqtt out","z":"ff8dca5f.92dd4","name":"UpdateStaffPalmars","topic":"MarketGo/staff/action/delete","qos":"2","retain":"","broker":"2f173c3d.2232a4","x":1080,"y":360,"wires":[]},{"id":"dd01cc13.7ae468","type":"mqtt in","z":"cdaf015f.da6f9","name":"ReceiveClientHelpRequest","topic":"MarketGo/client/action/help","qos":"2","broker":"2f173c3d.2232a4","x":190,"y":80,"wires":[["d1eb1a85.8fce2"]]},{"id":"d1eb1a85.8fce2","type":"json","z":"cdaf015f.da6f9","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["8a8d941d.491c68"]]},{"id":"8a8d941d.491c68","type":"function","z":"cdaf015f.da6f9","name":"CreateStaffAction","func":"var clientName = msg.payload.name;\nvar clientIdx = msg.payload.idx;\n\nmsg.payload = {\n    action: \"Help client \" + clientName,\n    idx: clientIdx\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["c0268d1f.3bac48"]]},{"id":"ba8cd76e.17e718","type":"function","z":"7aa22b9c.ee2e24","name":"PrepareQuery","func":"var clientIdx = msg.payload.idx;\n\nmsg.payload = {\n    idx: clientIdx\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":60,"wires":[["296efa8e.1979c6"]]},{"id":"296efa8e.1979c6","type":"mongodb2 in","z":"7aa22b9c.ee2e24","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"FindClient","collection":"clients","operation":"findOne","x":430,"y":80,"wires":[["82c86b9f.b6c59"]]},{"id":"82c86b9f.b6c59","type":"function","z":"7aa22b9c.ee2e24","name":"ExtractAllergies","func":"var client = msg.payload;\n\nmsg.payload = {\n    idx: client.idx,\n    allergies: client.allergies\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[[]]},{"id":"e0223fa6.846358","type":"switch","z":"d1064383.99592","name":"CheckMultipleRequested","property":"payload.multiple","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[["bb44e0ac.45e6c8"],["ed69236.3e4abe"]]},{"id":"bb44e0ac.45e6c8","type":"function","z":"d1064383.99592","name":"PrepareMultipleFindQuery","func":"var productIdxs = \n    msg.payload.idx.map((el) =>\n        ({idx: el})\n    );\n\nmsg.operation = 'find.toArray';\n\nmsg.payload = {\n    $or: productIdxs\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["e0741fbb.e0b188"]]},{"id":"ed69236.3e4abe","type":"function","z":"d1064383.99592","name":"PrepareSingleFindQuery","func":"msg.operation = 'findOne';\nmsg.payload = {\n    idx: msg.payload.idx\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["e0741fbb.e0b188"]]},{"id":"e0741fbb.e0b188","type":"mongodb2 in","z":"d1064383.99592","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"FindProducts","collection":"products","operation":"","x":740,"y":80,"wires":[["ba58e9de.83e388"]]},{"id":"7e8ef659.326a4","type":"tcp in","z":"b990c6b5.7066a8","name":"ReceiveTCPRequest","server":"server","host":"","port":"1337","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":60,"wires":[["90d79e98.6880d8"]]},{"id":"90d79e98.6880d8","type":"json","z":"b990c6b5.7066a8","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["e53c9e1a.ffb7b8"]]},{"id":"e53c9e1a.ffb7b8","type":"function","z":"b990c6b5.7066a8","name":"SetContextAndExtractMessage","func":"msg.responseIdx = msg.payload.responseIdx;\nmsg.clientIdx = msg.payload.clientIdx;\nmsg.payload = msg.payload.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["73aabe71.9ef33"]]},{"id":"20ca43cd.024e74","type":"function","z":"b990c6b5.7066a8","name":"WrapWithResponseIdx","func":"msg.payload = {\n    responseIdx: msg.responseIdx,\n    message: msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["313a1789.687c38"]]},{"id":"ac0f0549.0d7be","type":"tcp out","z":"b990c6b5.7066a8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"SendInformation","x":1210,"y":420,"wires":[]},{"id":"73aabe71.9ef33","type":"switch","z":"b990c6b5.7066a8","name":"CheckRequestType","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"productInformationRequest","vt":"str"},{"t":"eq","v":"clientAllergiesRequest","vt":"str"},{"t":"eq","v":"cartTotalRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":280,"wires":[["ae580727.553468"],["4d6e3c31.ebeed4"],["aba3b89b.fca0c"]]},{"id":"ae580727.553468","type":"subflow:d1064383.99592","z":"b990c6b5.7066a8","name":"","x":730,"y":200,"wires":[["20ca43cd.024e74"]]},{"id":"c5abe056.543a88","type":"mqtt in","z":"ccf231bf.81e27","name":"ReceiveProductAddedEvent","topic":"MarketGo/carts/productAdded","qos":"2","broker":"2f173c3d.2232a4","x":180,"y":60,"wires":[["27416cd6.80e3ac"]]},{"id":"27416cd6.80e3ac","type":"json","z":"ccf231bf.81e27","name":"ParseJson","property":"payload","action":"","pretty":false,"x":410,"y":80,"wires":[["9a5ff0fe.36286"]]},{"id":"302ce0c0.38c65","type":"subflow:d1064383.99592","z":"ccf231bf.81e27","name":"","x":690,"y":280,"wires":[["60cbecf6.9c69a4"]]},{"id":"9a5ff0fe.36286","type":"function","z":"ccf231bf.81e27","name":"PrepareSplit","func":"return {\n    payload: {\n        getClientAllergies: {\n            idx: msg.payload.clientIdx\n        },\n        getProductData: {\n            idx: msg.payload.productIdx\n        }\n    }\n};","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["ed8d6119.3c173"]]},{"id":"ed8d6119.3c173","type":"split","z":"ccf231bf.81e27","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":350,"y":240,"wires":[["b7651d23.b1c3b8"]]},{"id":"b7651d23.b1c3b8","type":"switch","z":"ccf231bf.81e27","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"getClientAllergies","vt":"str"},{"t":"eq","v":"getProductData","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":240,"wires":[["a0cace36.192138"],["302ce0c0.38c65"]]},{"id":"a0cace36.192138","type":"subflow:7aa22b9c.ee2e24","z":"ccf231bf.81e27","x":690,"y":200,"wires":[["60cbecf6.9c69a4"]]},{"id":"60cbecf6.9c69a4","type":"join","z":"ccf231bf.81e27","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":240,"wires":[["b970b26e.aee908","eb27ca84.a62c08"]]},{"id":"b970b26e.aee908","type":"function","z":"ccf231bf.81e27","name":"CheckAllergiesAndPrepareResponse","func":"var clientAllergiesData = \n    msg.payload.getClientAllergies;\n\nvar allergies = clientAllergiesData.allergies;\n\nvar product = \n    msg.payload.getProductData.productData;\n\nvar allergens = product.data.allergens;\n\nvar warnings = [];\nallergens.forEach((allergen) => {\n    if(allergies.includes(allergen)) {\n        warnings.push('It contains ' + allergen);\n    } \n});\n\nvar clientMsg = 'Added ' + product.name + ' to cart';\n\nmsg.payload = {\n    product: product,\n    notification: {\n        type: 'message',\n        data: clientMsg,\n        warnings: warnings\n    }\n}\n\nmsg.topic = 'MarketGo/clients/' + \n    clientAllergiesData.idx + '/productAdded';\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":240,"wires":[["228a87a4.a14cb"]]},{"id":"228a87a4.a14cb","type":"mqtt out","z":"ccf231bf.81e27","name":"SendNotificationToClient","topic":"","qos":"","retain":"","broker":"2f173c3d.2232a4","x":1270,"y":320,"wires":[]},{"id":"313a1789.687c38","type":"function","z":"b990c6b5.7066a8","name":"ObjectToJSON","func":"return {\n    payload: JSON.stringify(msg.payload) + \"\\n\"\n};","outputs":1,"noerr":0,"x":1160,"y":340,"wires":[["ac0f0549.0d7be"]]},{"id":"4d6e3c31.ebeed4","type":"subflow:7aa22b9c.ee2e24","z":"b990c6b5.7066a8","x":730,"y":280,"wires":[["20ca43cd.024e74"]]},{"id":"1903fe2c.dd6c0a","type":"subflow:b84a635a.4d144","z":"6048f8e.4a8a188","x":340,"y":600,"wires":[]},{"id":"25ee4fe6.b0ae4","type":"inject","z":"6048f8e.4a8a188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["1903fe2c.dd6c0a"]]},{"id":"b0e325ef.14d0b","type":"mqtt out","z":"6048f8e.4a8a188","name":"SendActionToStaff","topic":"MarketGo/staff/action/new","qos":"","retain":"","broker":"2f173c3d.2232a4","x":1230,"y":540,"wires":[]},{"id":"c0268d1f.3bac48","type":"mqtt out","z":"cdaf015f.da6f9","name":"SendActionToStaff","topic":"MarketGo/staff/action/new","qos":"","retain":"","broker":"2f173c3d.2232a4","x":739,"y":325,"wires":[]},{"id":"588ba2b6.c06b2c","type":"mqtt in","z":"6048f8e.4a8a188","name":"ReceiveShelfEvent","topic":"MarketGo/shelves","qos":"2","broker":"2f173c3d.2232a4","x":110,"y":40,"wires":[["5333b9a7.c954c"]]},{"id":"d2a56bfb.ee241","type":"function","z":"89d4ce43.452ce8","name":"SetContextAndPrepareQuery","func":"// expectedPayload = {idx -> quantity}\n\nmsg.cartData = msg.payload.cartData;\n\nvar productIdxs = \n    Object.keys(msg.payload.cartData)\n        .map((idx) => parseInt(idx));\n\nmsg.payload = {\n    idx: productIdxs,\n    multiple: true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["57f97b1f.80ed2c"]]},{"id":"389d13a5.9e12f4","type":"function","z":"89d4ce43.452ce8","name":"CountTotal","func":"var total = 0;\nvar list = [];\n\nmsg.payload.productData.forEach((product) => {\n    var prodCount = msg.cartData[product.idx];\n    var subTotal = product.price * prodCount;\n    \n    var prodData = {\n        name: product.name,\n        quantity: prodCount,\n        subTotal: subTotal\n    }\n    \n    total += subTotal;\n    list.push(prodData);\n});\n\nmsg.payload = {\n    type: 'cartTotal',\n    total: total,\n    list: list\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[[]]},{"id":"57f97b1f.80ed2c","type":"subflow:d1064383.99592","z":"89d4ce43.452ce8","name":"","x":830,"y":300,"wires":[["389d13a5.9e12f4"]]},{"id":"aba3b89b.fca0c","type":"subflow:89d4ce43.452ce8","z":"b990c6b5.7066a8","name":"","x":730,"y":360,"wires":[["20ca43cd.024e74"]]},{"id":"1bd1ca5d.32251e","type":"function","z":"89d4ce43.452ce8","name":"ParseResponse","func":"msg.cartEmpty = \n    Object.keys(msg.payload.cartData)\n        .length === 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["56f060e6.51b25"]]},{"id":"56f060e6.51b25","type":"switch","z":"89d4ce43.452ce8","name":"CartEmpty","property":"cartEmpty","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["31542fa5.1a173"],["d2a56bfb.ee241"]]},{"id":"31542fa5.1a173","type":"function","z":"89d4ce43.452ce8","name":"SetEmptyCart","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["389d13a5.9e12f4"]]},{"id":"fd14dd4.21a5b2","type":"function","z":"fd41aaa7.f153","name":"CompareAllergies","func":"var allergies = \n    msg.payload.allergies.map(allergy => \n        allergy.toLowerCase()\n    );\n\nvar allergens = \n    msg.payload.allergens.map(allergen => \n        allergen.toLowerCase()\n    );\n\nvar warnings = [];\n\nallergies.forEach((allergy) => {\n    if(allergens.includes(allergy)) {\n        warnings.push('It contains ' + allergy);\n    } \n});\n\nmsg.warnings = warnings;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[[]]},{"id":"ba58e9de.83e388","type":"function","z":"d1064383.99592","name":"PrepareResponse","func":"var productData = msg.payload;\n\nmsg.payload = {\n    productData: productData\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":80,"wires":[[]]},{"id":"eb27ca84.a62c08","type":"debug","z":"ccf231bf.81e27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":180,"wires":[]}]