node-red/flows_the-machine.json
[{"id":"6048f8e.4a8a188","type":"tab","label":"ShelfStatusUpdate","disabled":false,"info":"Receives shelf status update, and if it needs restock sends an action to staff"},{"id":"ff8dca5f.92dd4","type":"tab","label":"StaffPalmarsActionCompletion","disabled":false,"info":"Handles \"action complete\" notifications from staff palmars"},{"id":"cdaf015f.da6f9","type":"tab","label":"ClientHelpRequest","disabled":false,"info":"Receive client help request and send notification \nto staff"},{"id":"b990c6b5.7066a8","type":"tab","label":"TCPRequestsServer","disabled":false,"info":"Handles information requests via tcp"},{"id":"ccf231bf.81e27","type":"tab","label":"ClientPutsProductInCart","disabled":false,"info":"receives an event when the client puts a product in \nthe cart and sends him a notification"},{"id":"e79ea024.5ddb1","type":"tab","label":"ProcessPayment","disabled":false,"info":"TCP internal server that receives encrypted \npayment request and processes authorization"},{"id":"ad459c75.a2d28","type":"tab","label":"Dashboard","disabled":false,"info":"Fetches and displays data from the market"},{"id":"7aa22b9c.ee2e24","type":"subflow","name":"GetClientAllergies","info":"Get client allegies with idx","in":[{"x":60,"y":40,"wires":[{"id":"ba8cd76e.17e718"}]}],"out":[{"x":680,"y":40,"wires":[{"id":"296efa8e.1979c6","port":0}]}]},{"id":"d1064383.99592","type":"subflow","name":"GetProductInformation","info":"Get product information with idx","in":[{"x":40,"y":30,"wires":[{"id":"d031518d.b5175"}]}],"out":[{"x":1300,"y":400,"wires":[{"id":"ba58e9de.83e388","port":0}]}]},{"id":"89d4ce43.452ce8","type":"subflow","name":"GetCartTotal","info":"Get cart summary and total","in":[{"x":60,"y":40,"wires":[{"id":"1bd1ca5d.32251e"}]}],"out":[{"x":1260,"y":60,"wires":[{"id":"389d13a5.9e12f4","port":0}]}]},{"id":"fd41aaa7.f153","type":"subflow","name":"CheckAllergies","info":"Given a list of allergies and allergenes, checks \ncompatibility and returns a list of warnings \nfor the final user","in":[{"x":50,"y":30,"wires":[{"id":"b8850717.41e658"}]}],"out":[{"x":1040,"y":40,"wires":[{"id":"fd14dd4.21a5b2","port":0}]}]},{"id":"9795499c.56c298","type":"subflow","name":"ClientPaymentRequest","info":"Handles client payment requests","in":[{"x":50,"y":30,"wires":[{"id":"81c82aa0.a6b218"}]}],"out":[{"x":1180,"y":460,"wires":[{"id":"9eb5fe86.2c41a8","port":0},{"id":"885b1109.8994c8","port":0}]}]},{"id":"98cc4982.4a2d68","type":"subflow","name":"SendPurchaseEmailToClient","info":"Receives purchase data and sends email to client","in":[{"x":50,"y":30,"wires":[{"id":"4d59a591.b8ee1c"}]}],"out":[]},{"id":"2e7efc7b.baa364","type":"subflow","name":"SavePurchase","info":"Receives purchase data and saves it on db","in":[{"x":50,"y":30,"wires":[{"id":"f0de4e67.789f7"}]}],"out":[]},{"id":"2f173c3d.2232a4","type":"mqtt-broker","z":"","name":"LocalMQTTBroker","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b1b3643e.1e1e58","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/MarketGo","name":"MarketGo","options":"","parallelism":"-1"},{"id":"ee0e73f1.349f18","type":"ui_tab","z":"","name":"MarketGo","icon":"dashboard"},{"id":"98a7c04b.8378e8","type":"ui_group","z":"","name":"Shelves","tab":"ee0e73f1.349f18","disp":true,"width":"6","collapse":false},{"id":"f4b58747.046d58","type":"ui_group","z":"","name":"Inputs","tab":"320136ec.c5f96a","order":1,"disp":true,"width":"6"},{"id":"f42ddb9b.814cf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b3f7624a.893288","type":"ui_group","z":"","name":"StaffActions","tab":"ee0e73f1.349f18","disp":true,"width":"6","collapse":false},{"id":"320136ec.c5f96a","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"8f6f8cca.3f0298","type":"ui_group","z":"","name":"Inputs","tab":"6bf14551.98f744","order":1,"disp":true,"width":"6"},{"id":"6bf14551.98f744","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"698ffe32.b8c6e8","type":"ui_group","z":"","name":"Charts","tab":"9aba06b7.c3da9","order":2,"disp":false,"width":"6"},{"id":"646c421b.36d5f4","type":"ui_group","z":"","name":"Inputs","tab":"9aba06b7.c3da9","order":1,"disp":false,"width":"6"},{"id":"f1f785cd.18412","type":"ui_group","z":"","name":"Group 3","tab":"9aba06b7.c3da9","order":3,"disp":false,"width":"6"},{"id":"9aba06b7.c3da9","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"ccd9dbca.72ce08","type":"ui_group","z":"","name":"Charts","tab":"51e6329c.1235cc","order":2,"disp":false,"width":"6"},{"id":"c1a911f7.651df8","type":"ui_group","z":"","name":"Inputs","tab":"51e6329c.1235cc","order":1,"disp":false,"width":"6"},{"id":"eb3084d.5ca4bf8","type":"ui_group","z":"","name":"Group 3","tab":"51e6329c.1235cc","order":3,"disp":false,"width":"6"},{"id":"51e6329c.1235cc","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"9a679301.d6e728","type":"ui_group","z":"","name":"Charts","tab":"295230aa.103798","order":2,"disp":false,"width":"6"},{"id":"3920fe7b.8d635a","type":"ui_group","z":"","name":"Inputs","tab":"295230aa.103798","order":1,"disp":false,"width":"6"},{"id":"1e61f511.194d43","type":"ui_group","z":"","name":"Group 3","tab":"295230aa.103798","order":3,"disp":false,"width":"6"},{"id":"295230aa.103798","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"5333b9a7.c954c","type":"json","z":"6048f8e.4a8a188","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":230,"y":100,"wires":[["371b506b.e5971"]]},{"id":"bef6a133.e58398","type":"switch","z":"6048f8e.4a8a188","name":"CheckQuantity","property":"actualQuantity","propertyType":"msg","rules":[{"t":"lt","v":"payload.minimumQuantity","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":320,"wires":[["54da7586.1da9e4"]]},{"id":"371b506b.e5971","type":"function","z":"6048f8e.4a8a188","name":"SetContextAndPrepareQuery","func":"msg.actualQuantity = msg.payload.quantity;\n\nmsg.payload = [\n    {\n        idx: msg.payload.idx\n    },\n    {\n        _id: 0,\n        idx: 1,\n        minimumQuantity: 1\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["de33e5a.25e8b98"]]},{"id":"de33e5a.25e8b98","type":"mongodb2 in","z":"6048f8e.4a8a188","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"GetShelfData","collection":"shelves","operation":"findOne","x":540,"y":240,"wires":[["bef6a133.e58398","9d8cd9fc.96ef78"]]},{"id":"54da7586.1da9e4","type":"function","z":"6048f8e.4a8a188","name":"CreateStaffAction","func":"var staffMsg = 'Restock shelf (idx: ' + \n        msg.payload.idx + ')';\n\nmsg.payload = {\n    type: 'restock',\n    message: staffMsg,\n    shelfIdx: msg.payload.idx\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":400,"wires":[["b0e325ef.14d0b"]]},{"id":"fcf4d94c.8f9d2","type":"mqtt in","z":"ff8dca5f.92dd4","name":"ReceiveStaffAction","topic":"MarketGo/staff/action/completed","qos":"2","broker":"2f173c3d.2232a4","x":130,"y":60,"wires":[["f8eae27.c7db9a"]]},{"id":"f8eae27.c7db9a","type":"json","z":"ff8dca5f.92dd4","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["d1117120.1b4998"]]},{"id":"d1117120.1b4998","type":"function","z":"ff8dca5f.92dd4","name":"StoreCompletedActionQuery","func":"var action = msg.payload.action;\n\nflow.set('staffPalmarIdx', msg.payload.idx);\nflow.set('action', action);\n\nvar newActionRecord = Object.assign(\n    {date: new Date()}, action\n);\n\ndelete newActionRecord.message;\n    \nmsg.payload = [\n    { idx: msg.payload.idx },\n    { $push: { \n        completedActions: \n            newActionRecord\n        }\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["58d969ef.83428"]]},{"id":"58d969ef.83428","type":"mongodb2 in","z":"ff8dca5f.92dd4","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"StoreAction","collection":"employees","operation":"update","x":690,"y":240,"wires":[["3ef8354a.a39a2a"]]},{"id":"3ef8354a.a39a2a","type":"function","z":"ff8dca5f.92dd4","name":"PrepareDeleteActionMsg","func":"msg.payload = {\n    notification: flow.get('action')\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["9cf4ada.264b2d"]]},{"id":"9cf4ada.264b2d","type":"mqtt out","z":"ff8dca5f.92dd4","name":"UpdateStaffPalmars","topic":"MarketGo/staff/action/delete","qos":"2","retain":"","broker":"2f173c3d.2232a4","x":1080,"y":360,"wires":[]},{"id":"dd01cc13.7ae468","type":"mqtt in","z":"cdaf015f.da6f9","name":"ReceiveClientHelpRequest","topic":"MarketGo/client/action/help","qos":"2","broker":"2f173c3d.2232a4","x":190,"y":80,"wires":[["d1eb1a85.8fce2"]]},{"id":"d1eb1a85.8fce2","type":"json","z":"cdaf015f.da6f9","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["8a8d941d.491c68"]]},{"id":"8a8d941d.491c68","type":"function","z":"cdaf015f.da6f9","name":"CreateStaffAction","func":"var clientName = msg.payload.name;\nvar clientIdx = msg.payload.idx;\n\nmsg.payload = {\n    type: 'help_client',\n    message: 'Help client ' + clientName + \n        ' (idx: ' + clientIdx + ')',\n    clientIdx: clientIdx\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["c0268d1f.3bac48"]]},{"id":"ba8cd76e.17e718","type":"function","z":"7aa22b9c.ee2e24","name":"PrepareQuery","func":"var clientIdx = msg.payload.idx;\n\nmsg.payload = [\n    {\n        idx: clientIdx\n    },\n    {\n        _id: 0,\n        allergies: 1\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["296efa8e.1979c6"]]},{"id":"296efa8e.1979c6","type":"mongodb2 in","z":"7aa22b9c.ee2e24","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"FindClient","collection":"clients","operation":"findOne","x":470,"y":60,"wires":[[]]},{"id":"e0223fa6.846358","type":"switch","z":"d1064383.99592","name":"CheckMultipleRequested","property":"payload.multiple","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":160,"wires":[["bb44e0ac.45e6c8"],["ed69236.3e4abe"]]},{"id":"bb44e0ac.45e6c8","type":"function","z":"d1064383.99592","name":"PrepareMultipleFindQuery","func":"var productIdxs = \n    msg.payload.idx.map((el) =>\n        ({idx: el})\n    );\n\nmsg.operation = 'find.toArray';\n\nmsg.payload = [\n    {\n        $or: productIdxs\n    },\n    {\n        _id: 0\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["e0741fbb.e0b188"]]},{"id":"ed69236.3e4abe","type":"function","z":"d1064383.99592","name":"PrepareSingleFindQuery","func":"msg.operation = 'findOne';\nmsg.payload = [\n    {\n        idx: msg.payload.idx\n    },\n    {\n        _id: 0\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["e0741fbb.e0b188"]]},{"id":"e0741fbb.e0b188","type":"mongodb2 in","z":"d1064383.99592","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"FindProducts","collection":"products","operation":"","x":620,"y":160,"wires":[["d46258bd.5628d"]]},{"id":"7e8ef659.326a4","type":"tcp in","z":"b990c6b5.7066a8","name":"ReceiveTCPRequest","server":"server","host":"","port":"1337","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":60,"wires":[["90d79e98.6880d8"]]},{"id":"90d79e98.6880d8","type":"json","z":"b990c6b5.7066a8","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["e53c9e1a.ffb7b8"]]},{"id":"e53c9e1a.ffb7b8","type":"function","z":"b990c6b5.7066a8","name":"SetContextAndExtractMessage","func":"msg.responseIdx = msg.payload.responseIdx;\nmsg.clientIdx = msg.payload.clientIdx;\nmsg.payload = msg.payload.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["73aabe71.9ef33"]]},{"id":"20ca43cd.024e74","type":"function","z":"b990c6b5.7066a8","name":"WrapWithResponseIdx","func":"msg.payload = {\n    responseIdx: msg.responseIdx,\n    message: msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["313a1789.687c38"]]},{"id":"ac0f0549.0d7be","type":"tcp out","z":"b990c6b5.7066a8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"SendInformation","x":1210,"y":420,"wires":[]},{"id":"73aabe71.9ef33","type":"switch","z":"b990c6b5.7066a8","name":"CheckRequestType","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"productInformationRequest","vt":"str"},{"t":"eq","v":"clientAllergiesRequest","vt":"str"},{"t":"eq","v":"cartTotalRequest","vt":"str"},{"t":"eq","v":"paymentRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":500,"y":280,"wires":[["ae580727.553468"],["4d6e3c31.ebeed4"],["aba3b89b.fca0c"],["6b16bc2f.5db2fc"]]},{"id":"ae580727.553468","type":"subflow:d1064383.99592","z":"b990c6b5.7066a8","name":"","x":750,"y":160,"wires":[["20ca43cd.024e74"]]},{"id":"c5abe056.543a88","type":"mqtt in","z":"ccf231bf.81e27","name":"ReceiveProductAddedEvent","topic":"MarketGo/carts/productAdded","qos":"2","broker":"2f173c3d.2232a4","x":140,"y":40,"wires":[["27416cd6.80e3ac"]]},{"id":"27416cd6.80e3ac","type":"json","z":"ccf231bf.81e27","name":"ParseJson","property":"payload","action":"","pretty":false,"x":290,"y":100,"wires":[["499f4065.78aff8"]]},{"id":"228a87a4.a14cb","type":"mqtt out","z":"ccf231bf.81e27","name":"SendNotificationToClient","topic":"","qos":"","retain":"","broker":"2f173c3d.2232a4","x":1270,"y":500,"wires":[]},{"id":"313a1789.687c38","type":"function","z":"b990c6b5.7066a8","name":"ObjectToJSON","func":"return {\n    payload: JSON.stringify(msg.payload) + \"\\n\"\n};","outputs":1,"noerr":0,"x":1160,"y":340,"wires":[["ac0f0549.0d7be"]]},{"id":"4d6e3c31.ebeed4","type":"subflow:7aa22b9c.ee2e24","z":"b990c6b5.7066a8","x":733,"y":260,"wires":[["20ca43cd.024e74"]]},{"id":"b0e325ef.14d0b","type":"mqtt out","z":"6048f8e.4a8a188","name":"SendActionToStaff","topic":"MarketGo/staff/action/new","qos":"","retain":"","broker":"2f173c3d.2232a4","x":1050,"y":480,"wires":[]},{"id":"c0268d1f.3bac48","type":"mqtt out","z":"cdaf015f.da6f9","name":"SendActionToStaff","topic":"MarketGo/staff/action/new","qos":"","retain":"","broker":"2f173c3d.2232a4","x":739,"y":325,"wires":[]},{"id":"588ba2b6.c06b2c","type":"mqtt in","z":"6048f8e.4a8a188","name":"ReceiveShelfEvent","topic":"MarketGo/shelves","qos":"2","broker":"2f173c3d.2232a4","x":110,"y":40,"wires":[["5333b9a7.c954c"]]},{"id":"d2a56bfb.ee241","type":"function","z":"89d4ce43.452ce8","name":"SetContextAndPrepareQuery","func":"// expectedPayload = {idx -> quantity}\n\nmsg.cartData = msg.payload.cartData;\n\nvar productIdxs = \n    Object.keys(msg.payload.cartData)\n        .map((idx) => parseInt(idx));\n\nmsg.payload = {\n    idx: productIdxs,\n    multiple: true\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["57f97b1f.80ed2c"]]},{"id":"389d13a5.9e12f4","type":"function","z":"89d4ce43.452ce8","name":"CountTotal","func":"var total = 0;\nvar list = [];\n\nif(msg.payload.productData) {\n    msg.payload.productData.forEach((product) => {\n        var prodCount = msg.cartData[product.idx];\n        var subTotal = product.price * prodCount;\n        \n        var prodData = {\n            name: product.name,\n            quantity: prodCount,\n            subTotal: subTotal\n        }\n        \n        total += subTotal;\n        list.push(prodData);\n    });\n}\n\nmsg.payload = {\n    type: 'cartTotal',\n    total: total,\n    list: list\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[[]]},{"id":"57f97b1f.80ed2c","type":"subflow:d1064383.99592","z":"89d4ce43.452ce8","name":"","x":830,"y":300,"wires":[["389d13a5.9e12f4"]]},{"id":"aba3b89b.fca0c","type":"subflow:89d4ce43.452ce8","z":"b990c6b5.7066a8","name":"","x":737,"y":340,"wires":[["20ca43cd.024e74"]]},{"id":"1bd1ca5d.32251e","type":"function","z":"89d4ce43.452ce8","name":"ParseResponse","func":"msg.cartEmpty = \n    Object.keys(msg.payload.cartData)\n        .length === 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["56f060e6.51b25"]]},{"id":"56f060e6.51b25","type":"switch","z":"89d4ce43.452ce8","name":"CartEmpty","property":"cartEmpty","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["31542fa5.1a173"],["d2a56bfb.ee241"]]},{"id":"31542fa5.1a173","type":"function","z":"89d4ce43.452ce8","name":"SetEmptyCart","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["389d13a5.9e12f4"]]},{"id":"fd14dd4.21a5b2","type":"function","z":"fd41aaa7.f153","name":"CompareAllergies","func":"var allergies = \n    msg.payload.allergies\n        .map(allergy => \n            allergy.toLowerCase()\n        );\n\nvar allergens = \n    msg.allergens\n        .map(allergen => \n            allergen.toLowerCase()\n        );\n\nvar warnings = [];\n\nallergies.forEach((allergy) => {\n    if(allergens.includes(allergy)) {\n        warnings.push('It contains ' + allergy);\n    } \n});\n\nmsg.warnings = warnings;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":80,"wires":[[]]},{"id":"ba58e9de.83e388","type":"function","z":"d1064383.99592","name":"PrepareResponse","func":"var productData = msg.payload;\n\nmsg.payload = {\n    productData: productData,\n    warnings: msg.warnings\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":300,"wires":[[]]},{"id":"d46258bd.5628d","type":"switch","z":"d1064383.99592","name":"CheckClientIdxReceived","property":"clientIdx","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":220,"wires":[["35af6e78.57b412"],["ba58e9de.83e388"]]},{"id":"d031518d.b5175","type":"function","z":"d1064383.99592","name":"SetContext","func":"msg.clientIdx = msg.payload.clientIdx;\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":100,"wires":[["e0223fa6.846358"]]},{"id":"35af6e78.57b412","type":"function","z":"d1064383.99592","name":"PrepareContextForAllergiesCheck","func":"msg.productData = msg.payload;\n\nmsg.payload = {\n    clientIdx: msg.clientIdx,\n    allergens: msg.productData.data.allergens\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":160,"wires":[["a18f4fd5.9bf278"]]},{"id":"a18f4fd5.9bf278","type":"subflow:fd41aaa7.f153","z":"d1064383.99592","name":"","x":1260,"y":160,"wires":[["5efa6c80.0d9b8c"]]},{"id":"b8850717.41e658","type":"function","z":"fd41aaa7.f153","name":"SetContextAndPrepareQuery","func":"msg.allergens = msg.payload.allergens;\n\nmsg.payload = {\n    idx: msg.payload.clientIdx\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["d3272bd3.079b78"]]},{"id":"d3272bd3.079b78","type":"subflow:7aa22b9c.ee2e24","z":"fd41aaa7.f153","name":"","x":530,"y":80,"wires":[["fd14dd4.21a5b2"]]},{"id":"5efa6c80.0d9b8c","type":"function","z":"d1064383.99592","name":"ResetContext","func":"msg.payload = msg.productData;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":240,"wires":[["ba58e9de.83e388"]]},{"id":"6b16bc2f.5db2fc","type":"subflow:9795499c.56c298","z":"b990c6b5.7066a8","x":740,"y":440,"wires":[["20ca43cd.024e74"]]},{"id":"81c82aa0.a6b218","type":"function","z":"9795499c.56c298","name":"ExtractDataAndPrepareSplit","func":"msg.data = msg.payload.data;\n\nmsg.payload = {\n    getCreditCardNumber: [\n        {\n            idx: msg.data.clientIdx\n        },\n        {\n            _id: 0,\n            creditCardNumber: 1\n        }\n    ],\n    getTotalCount: {\n        cartData: msg.data.cartData\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["c2e0899f.0b6278"]]},{"id":"5f7a72ac.6e2fd4","type":"tcp request","z":"9795499c.56c298","server":"127.0.0.1","port":"1500","out":"time","splitc":"0","name":"RequestPaymentToServer","x":680,"y":280,"wires":[["e660edd0.e673d8"]]},{"id":"44289a75.c5fffc","type":"json","z":"9795499c.56c298","name":"Jsonify","property":"payload","action":"str","pretty":false,"x":160,"y":280,"wires":[["a636e106.75593"]]},{"id":"911fe093.5e8e4","type":"tcp in","z":"e79ea024.5ddb1","name":"","server":"server","host":"","port":"1500","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"ReceivePaymentData","base64":false,"x":100,"y":40,"wires":[["2fb5df72.17b71"]]},{"id":"8e02db14.4153c8","type":"tcp out","z":"e79ea024.5ddb1","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1090,"y":400,"wires":[]},{"id":"a636e106.75593","type":"encrypt","z":"9795499c.56c298","name":"Encrypt","algorithm":"AES","key":"bhaHswvPJHd6mFp+QDdXXg3pgjO+YlyJabEP1+1cHeU=","x":300,"y":280,"wires":[["6ea07511.e355a4"]]},{"id":"2fb5df72.17b71","type":"decrypt","z":"e79ea024.5ddb1","name":"Decrypt","algorithm":"AES","key":"bhaHswvPJHd6mFp+QDdXXg3pgjO+YlyJabEP1+1cHeU=","x":200,"y":100,"wires":[["f4d6d86c.7d735"]]},{"id":"6ea07511.e355a4","type":"function","z":"9795499c.56c298","name":"FixTcpRequest","func":"msg.payload += \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["5f7a72ac.6e2fd4"]]},{"id":"f4d6d86c.7d735","type":"json","z":"e79ea024.5ddb1","name":"ParseJSON","property":"payload","action":"","pretty":false,"x":310,"y":160,"wires":[["7b75921f.9b7ad4"]]},{"id":"c2e0899f.0b6278","type":"split","z":"9795499c.56c298","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":250,"y":140,"wires":[["be46f5d5.4b4d78"]]},{"id":"be46f5d5.4b4d78","type":"switch","z":"9795499c.56c298","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"getCreditCardNumber","vt":"str"},{"t":"eq","v":"getTotalCount","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["da77cb77.388c2"],["a5adc73e.0aa8"]]},{"id":"a7585418.2888d","type":"function","z":"9795499c.56c298","name":"ExtractCreditCardNumber","func":"msg.payload = msg.payload.creditCardNumber;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["18acdbfb.3957d4"]]},{"id":"da77cb77.388c2","type":"mongodb2 in","z":"9795499c.56c298","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"GetClientData","collection":"clients","operation":"findOne","x":520,"y":120,"wires":[["a7585418.2888d"]]},{"id":"a5adc73e.0aa8","type":"subflow:89d4ce43.452ce8","z":"9795499c.56c298","name":"","x":510,"y":160,"wires":[["4e23db19.c9be54"]]},{"id":"4e23db19.c9be54","type":"function","z":"9795499c.56c298","name":"SetContextAndExtractTotal","func":"msg.cartTotal = msg.payload;\n\nmsg.payload = msg.payload.total;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["18acdbfb.3957d4"]]},{"id":"18acdbfb.3957d4","type":"join","z":"9795499c.56c298","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":140,"wires":[["f68d4af3.10e5"]]},{"id":"f68d4af3.10e5","type":"function","z":"9795499c.56c298","name":"PrepareTCPPaymentMsg","func":"msg.payload = {\n    clientIdx: msg.data.clientIdx,\n    creditCardNumber: msg.payload.getCreditCardNumber,\n    totalCount: msg.payload.getTotalCount\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":140,"wires":[["44289a75.c5fffc"]]},{"id":"7b75921f.9b7ad4","type":"function","z":"e79ea024.5ddb1","name":"PaymentMock","func":"//Fake payment allowing\nvar acceptedPayment = \n    msg.payload.creditCardNumber.length > 0\n    && Math.random() >= 0.5;\n\nmsg.payload = {\n    accepted: acceptedPayment\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["793d7a1f.286de4"]]},{"id":"793d7a1f.286de4","type":"json","z":"e79ea024.5ddb1","name":"Jsonify","property":"payload","action":"str","pretty":false,"x":560,"y":280,"wires":[["6a25ab3b.01964c"]]},{"id":"6a25ab3b.01964c","type":"function","z":"e79ea024.5ddb1","name":"FixTcpResponse","func":"msg.payload += \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["5cb0d868.71b0a8"]]},{"id":"e660edd0.e673d8","type":"function","z":"9795499c.56c298","name":"ParseResponse","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["40209382.45b8c4"]]},{"id":"1ce4b725.195e31","type":"switch","z":"9795499c.56c298","name":"PaymentSuccess","property":"payload.accepted","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":420,"wires":[["9eb5fe86.2c41a8","d6faa5cd.6d616"],["885b1109.8994c8"]]},{"id":"5cb0d868.71b0a8","type":"encrypt","z":"e79ea024.5ddb1","name":"Encrypt","algorithm":"AES","key":"bhaHswvPJHd6mFp+QDdXXg3pgjO+YlyJabEP1+1cHeU=","x":880,"y":400,"wires":[["8e02db14.4153c8"]]},{"id":"40209382.45b8c4","type":"decrypt","z":"9795499c.56c298","name":"Decrypt","algorithm":"AES","key":"bhaHswvPJHd6mFp+QDdXXg3pgjO+YlyJabEP1+1cHeU=","x":1060,"y":280,"wires":[["295fdd5a.de7d22"]]},{"id":"295fdd5a.de7d22","type":"json","z":"9795499c.56c298","name":"ParseJSON","property":"payload","action":"obj","pretty":false,"x":150,"y":420,"wires":[["1ce4b725.195e31"]]},{"id":"4d59a591.b8ee1c","type":"function","z":"98cc4982.4a2d68","name":"SetContextAndPrepareQuery","func":"msg.payload = [\n    {\n        idx: msg.data.clientIdx\n    },\n    {\n        _id: 0,\n        email: 1\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["51cf0668.fe98c8"]]},{"id":"51cf0668.fe98c8","type":"mongodb2 in","z":"98cc4982.4a2d68","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"GetClientData","collection":"clients","operation":"findOne","x":460,"y":100,"wires":[["ac7c74a5.754fe"]]},{"id":"c00413f6.39102","type":"e-mail","z":"98cc4982.4a2d68","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"SendEmailToClient","x":1170,"y":100,"wires":[]},{"id":"251295b6.213fa2","type":"subflow:98cc4982.4a2d68","z":"9795499c.56c298","x":740,"y":380,"wires":[]},{"id":"9eb5fe86.2c41a8","type":"function","z":"9795499c.56c298","name":"PrepareSuccessResponse","func":"var response = 'Payment completed, you will ' + \n    'receive an email with the full details';\n\nmsg.payload = {\n    notification: {\n        type: 'message',\n        title: 'Payment',\n        data: response\n    },\n    success: true\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":480,"wires":[[]]},{"id":"6f05038e.75d9d4","type":"template","z":"98cc4982.4a2d68","name":"SetEmailTemplate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Thanks for your purchase!</h2>\n<h3>Your total: {{cartTotal.total}}</h3>\n<p>List:</p>\n<ul>\n    {{#cartTotal.list}}\n    <li>\n        <p>\n            <span style=\"color:red\">x{{quantity}}</span> \n            {{name}} ({{subTotal}})\n        </p>\n    </li>\n    {{/cartTotal.list}}\n</ul>","output":"str","x":930,"y":100,"wires":[["c00413f6.39102"]]},{"id":"ac7c74a5.754fe","type":"function","z":"98cc4982.4a2d68","name":"PrepareEmailHeader","func":"msg.topic = 'MarketGo purchase';\nmsg.to = msg.payload.email;\n\nmsg.payload = '';\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["6f05038e.75d9d4"]]},{"id":"499f4065.78aff8","type":"function","z":"ccf231bf.81e27","name":"SetContextAndPrepareGetOperation","func":"flow.set('clientIdx', msg.payload.clientIdx);\n\nmsg.payload = {\n    idx: msg.payload.productIdx\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["b6324383.19bc08"]]},{"id":"b6324383.19bc08","type":"subflow:d1064383.99592","z":"ccf231bf.81e27","name":"","x":670,"y":220,"wires":[["8a6abf62.806f98"]]},{"id":"13f0e834.4eabd8","type":"subflow:fd41aaa7.f153","z":"ccf231bf.81e27","x":1060,"y":340,"wires":[["38e246e9.282582"]]},{"id":"8a6abf62.806f98","type":"function","z":"ccf231bf.81e27","name":"SetContextAndPrepareCheckAllergies","func":"msg.productData = msg.payload.productData;\n\nmsg.payload = {\n    clientIdx: flow.get('clientIdx'),\n    allergens: msg.productData.data.allergens\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["13f0e834.4eabd8"]]},{"id":"38e246e9.282582","type":"function","z":"ccf231bf.81e27","name":"PrepareResponse","func":"var clientMsg = 'Added ' + \n    msg.productData.name + ' to cart';\n\nmsg.payload = {\n    product: msg.productData,\n    notification: {\n        type: 'message',\n        data: clientMsg,\n        warnings: msg.warnings\n    }\n}\n\nmsg.topic = 'MarketGo/clients/' + \n    flow.get('clientIdx') + '/productAdded';\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":420,"wires":[["228a87a4.a14cb"]]},{"id":"885b1109.8994c8","type":"function","z":"9795499c.56c298","name":"PrepareFailResponse","func":"var response = 'We are sorry, credit cart ' + \n    'was declined';\n\nmsg.payload = {\n    notification: {\n        type: 'message',\n        title: 'Payment FAIL',\n        data: response\n    },\n    success: false\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[[]]},{"id":"5cb818e4.9dbbb","type":"mqtt out","z":"6048f8e.4a8a188","name":"","topic":"MarketGo/dashboard/shelves","qos":"2","retain":"","broker":"2f173c3d.2232a4","x":1110,"y":260,"wires":[]},{"id":"9d8cd9fc.96ef78","type":"function","z":"6048f8e.4a8a188","name":"PrepareDashboardUpdate","func":"msg.payload = {\n    idx: msg.payload.idx,\n    value: msg.actualQuantity\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["5cb818e4.9dbbb"]]},{"id":"4cfe2673.be8ec8","type":"mqtt in","z":"ad459c75.a2d28","name":"","topic":"MarketGo/dashboard/shelves","qos":"2","broker":"2f173c3d.2232a4","x":220,"y":100,"wires":[["292c45fe.c70912"]]},{"id":"7b085131.61b128","type":"function","z":"ad459c75.a2d28","name":"SetShelfData","func":"msg.idx = msg.payload.idx;\n\nmsg.payload = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["1adea8d2.33e9ff"]]},{"id":"292c45fe.c70912","type":"json","z":"ad459c75.a2d28","name":"","property":"payload","action":"","pretty":false,"x":421,"y":100,"wires":[["7b085131.61b128"]]},{"id":"9051b7ae.b70f4","type":"ui_gauge","z":"ad459c75.a2d28","name":"Shelf 0","group":"98a7c04b.8378e8","order":0,"width":"0","height":"0","gtype":"gage","title":"Shelf 0","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#2b7ed5","#2b7ed5","#2b7ed5"],"seg1":"","seg2":"","x":1000,"y":60,"wires":[]},{"id":"1adea8d2.33e9ff","type":"switch","z":"ad459c75.a2d28","name":"CheckShelfIdx","property":"idx","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":760,"y":100,"wires":[["9051b7ae.b70f4"],["dafe10cc.abb2c8"],["f1ae1d2c.9e7f7"]]},{"id":"dafe10cc.abb2c8","type":"ui_gauge","z":"ad459c75.a2d28","name":"Shelf 1","group":"98a7c04b.8378e8","order":0,"width":"0","height":"0","gtype":"gage","title":"Shelf 1","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#2b7ed5","#2b7ed5","#2b7ed5"],"seg1":"","seg2":"","x":1000,"y":100,"wires":[]},{"id":"f1ae1d2c.9e7f7","type":"ui_gauge","z":"ad459c75.a2d28","name":"Shelf 2","group":"98a7c04b.8378e8","order":0,"width":"0","height":"0","gtype":"gage","title":"Shelf 2","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#2b7ed5","#2b7ed5","#2b7ed5"],"seg1":"","seg2":"","x":1000,"y":140,"wires":[]},{"id":"e7a41652.78666","type":"inject","z":"ad459c75.a2d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":280,"wires":[["32efb9a0.713656"]]},{"id":"dd354490.07216","type":"ui_chart","z":"ad459c75.a2d28","name":"Employee0Actions","group":"b3f7624a.893288","order":0,"width":0,"height":0,"label":"Employee (idx: 0) actions","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":240,"wires":[[],[]]},{"id":"5bbeedb6.be5164","type":"mongodb2 in","z":"ad459c75.a2d28","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"GetEmployeesData","collection":"employees","operation":"find.toArray","x":490,"y":280,"wires":[["8c28313e.087d18"]]},{"id":"32efb9a0.713656","type":"function","z":"ad459c75.a2d28","name":"PrepareFindQuery","func":"msg.payload = [\n    {},\n    {_id: 0, idx: 1, completedActions: 1}\n]\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["5bbeedb6.be5164"]]},{"id":"8c28313e.087d18","type":"function","z":"ad459c75.a2d28","name":"PrepareChartsData","func":"var employees = msg.payload\n    .sort((e1, e2) => e1.idx > e2.idx);\n\nvar max = 2;\nmsg.payload = {};\n\nemployees.forEach((employee) => {\n    var helpClientCount = 0;\n    var restockCount = 0;\n    \n    employee.completedActions.forEach((action) => {\n        if(action.type === 'help_client') {\n            helpClientCount += 1;\n        } else {\n            restockCount += 1;\n        }\n    });\n    \n    if(max < helpClientCount) {\n        max = helpClientCount;\n    }\n    \n    if(max < restockCount ) {\n        max = restockCount;\n    }\n    \n    msg.payload[employee.idx] = [{\n        series: [\"0\"],\n        data: [[helpClientCount, restockCount]],\n        labels: [\"help client\", \"restock\"]\n    }];\n});\n\nmax = Math.floor(max * 1.5);\n\nfor (var idx in msg.payload) {\n    msg.payload[idx][0].data[0].push(max);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["26932da9.75e15a"]]},{"id":"4dea12fb.543054","type":"ui_chart","z":"ad459c75.a2d28","name":"Employee1Actions","group":"b3f7624a.893288","order":0,"width":0,"height":0,"label":"Employee (idx: 1) actions","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":320,"wires":[[],[]]},{"id":"26932da9.75e15a","type":"split","z":"ad459c75.a2d28","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":850,"y":280,"wires":[["9f306834.0326"]]},{"id":"9f306834.0326","type":"switch","z":"ad459c75.a2d28","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":280,"wires":[["dd354490.07216"],["4dea12fb.543054"]]},{"id":"d6faa5cd.6d616","type":"subflow:2e7efc7b.baa364","z":"9795499c.56c298","x":734,"y":427,"wires":[]},{"id":"f0de4e67.789f7","type":"function","z":"2e7efc7b.baa364","name":"PreparePurchaseInsertion","func":"var clientIdx = msg.data.clientIdx;\nvar date = new Date();\nvar total = msg.cartTotal.total;\n\nvar list = [];\nfor(var idx in msg.cartData) {\n    list.push({\n       idx: idx,\n       quantity: msg.cartData[idx]\n    });\n}\n\nmsg.payload = {\n    clientIdx: clientIdx,\n    date: date,\n    total: total,\n    list: list\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["82978560.99458"]]},{"id":"82978560.99458","type":"mongodb2 in","z":"2e7efc7b.baa364","service":"_ext_","configNode":"b1b3643e.1e1e58","name":"","collection":"purchases","operation":"insert","x":560,"y":80,"wires":[[]]}]